﻿@model GoogleCustomAuthentication.Models.LoginViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <form method="POST" action="@Url.Action("Index","Account")">
        <input type="email" name="email" />
        <input type="password" name="password" />
        <input type="submit" name="login" value="Login" />
        <strong>
            @ViewBag.status
        </strong>
    </form>
    <a href="@Url.Action("GoogleSignIn",new { type = "Google"})">Sign In</a>
</div>